name: 'Terraform'
on:
  pull_request:

jobs:
  plan:
    runs-on: ubuntu-latest
    defaults:
     run:
    shell: bash
    working-directory: ./infra
  
  steps:
  
   - name: Checkout code
  uses: actions/checkout@v6.0.0

 
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2.0.3
                  - name: "Configure AWS Credentials" Action for GitHub Actions
  # You may pin to the exact commit or the version.
  # uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8
  uses: aws-actions/configure-aws-credentials@v5.1.0
  with:
    # AWS Region, e.g. us-east-2
    aws-region: eu-west-1
    # The Amazon Resource Name (ARN) of the role to assume. Use the provided credentials to assume an IAM role and configure the Actions environment with the assumed role credentials rather than with the provided credentials.
    # AWS Access Key ID. Provide this key if you want to assume a role using access keys rather than a web identity token.
    aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }} # optional
    # AWS Secret Access Key. Required if aws-access-key-id is provided.
    aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    - name: format
    run: terraform fat -check

    -name: Initialize
    run: terraform init
    
    - name: Terraform plan
      run: terraform plan

  
    - name: Terraform Format
      run: terraform fmt -check
